<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <h1 class="display-4 my-font" th:text="${greeting}"></h1>
        <p class="lead">CONFIRM'S WORLD</p>
        <img border="0" src="https://miro.medium.com/max/11400/1*lS9ZqdEGZrRiTcL1JUgt9w.jpeg"
             alt="coala" height="200">
        <p>Panita Prakobkaew 61050852</p>
        Please, Register -> <a th:href="@{/customer}">Customer Registration</a>
    </div>
</div>
